body {
    background-image: url("../icons/background.jpeg");
    background-size: 100%;
    text-align: center;
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


img {
    max-width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
    object-fit: contain;
    cursor: pointer;
}